@model Scheduler.Models.Login
@{
    ViewBag.Title = "LogIn";
    Layout = "";
}

<head>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/style-responsive.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<style>
    .login-body {
        background: url(../img/college.jpg) no-repeat center center fixed !important;
        background-size: cover !important;
    }
</style>

<body class="login-body">
    <div class="container">
        <form class="login-form" method="post">
            @Html.AntiForgeryToken()
            <div class="login-wrap">
                <p class="login-img"><i class="fa fa-lock" aria-hidden="true"></i></p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                    @*<input type="text" class="form-control" placeholder="Username" autofocus>*@
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", placeholder = "Username" } })
                </div>
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                    @*<input type="password" class="form-control" placeholder="Password">*@
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })                 
                </div>
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                <label class="checkbox">
                   @Html.EditorFor(model => model.RememberMe)
                   @Html.Label("Remember me", htmlAttributes: new { @class = "control-label" })
                </label>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
            </div>
        </form>
    </div>
    @*<div class="wrapper">
            <form class="form-signin" method="post">
                @Html.AntiForgeryToken()
                <h2 class="form-signin-heading">Please login</h2>
                <div class="form-group">
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", placeholder = "Username" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>

                <br />
                <div class="form-group">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.RememberMe)
                        @Html.Label("Remember me", htmlAttributes: new { @class = "control-label" })
                    </div>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" id="btnLogin">Login</button>
            </form>
        </div>*@
</body>